body {
	padding : 10px ;
	background-color: #e8e8e8;

}

#index-tab {
	width: 100%;
}

#index-tab .nav-pills > li > a {
	border-radius: 4px 4px 0 0 ;
}

#index-tab .tab-content {
	color : white;
	background-color: #428bca;
	padding : 5px 15px;
}





